<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="danger">
  <nb-card-header>{{ title }}</nb-card-header>

  <nb-card-body>
    <form (ngSubmit)="submit()" #form="ngForm" aria-labelledby="title">
      <div class="form-control-group">
        <label class="label" for="input-name">Nom:</label>
        <input
          nbInput
          [(ngModel)]="dataToEdit.nom"
          #fullName="ngModel"
          id="input-name"
          name="fullName"
          placeholder="Nom"
          autofocus
          fullWidth
          [status]="
            fullName.dirty ? (fullName.invalid ? 'danger' : 'success') : ''
          "
          required
          [minlength]="2"
          [maxlength]="50"
          [attr.aria-invalid]="
            fullName.invalid && fullName.touched ? true : null
          "
        />
        <ng-container *ngIf="fullName.invalid && fullName.touched">
          <p class="error-message" *ngIf="fullName.errors?.required">
            Champ obligatoire
          </p>
          <p
            class="error-message"
            *ngIf="fullName.errors?.minlength || fullName.errors?.maxlength"
          >
            Veuillez saisir au moins 2 caractères
          </p>
        </ng-container>
      </div>

      <div class="form-control-group">
        <label class="label" for="input-name">Prénom:</label>
        <input
          nbInput
          [(ngModel)]="dataToEdit.prenom"
          #prenom="ngModel"
          id="input-name"
          name="prenom"
          placeholder="Prénom"
          autofocus
          fullWidth
          [status]="
            fullName.dirty ? (prenom.invalid ? 'danger' : 'success') : ''
          "
          required
          [minlength]="2"
          [maxlength]="50"
          [attr.aria-invalid]="prenom.invalid && prenom.touched ? true : null"
        />
        <ng-container *ngIf="prenom.invalid && prenom.touched">
          <p class="error-message" *ngIf="prenom.errors?.required">
            Champ obligatoire
          </p>
          <p
            class="error-message"
            *ngIf="prenom.errors?.minlength || prenom.errors?.maxlength"
          >
            Veuillez saisir au moins 2 caractères
          </p>
        </ng-container>
      </div>

      <div class="form-control-group">
        <label class="label" for="input-email">Téléphone:</label>
        <input
          nbInput
          [(ngModel)]="dataToEdit.telephone"
          #telephone="ngModel"
          id="input-telephone"
          name="telephone"
          pattern="^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$"
          placeholder="Téléphone"
          fullWidth
          [status]="
            telephone.dirty ? (telephone.invalid ? 'danger' : 'success') : ''
          "
          required
          [attr.aria-invalid]="
            telephone.invalid && telephone.touched ? true : null
          "
        />
        <ng-container *ngIf="telephone.invalid && telephone.touched">
          <p class="error-message" *ngIf="telephone.errors?.required">
            Champ obligatoire
          </p>
          <p class="error-message" *ngIf="telephone.errors?.pattern">
            Email invalide
          </p>
        </ng-container>
      </div>

      <div class="form-control-group">
        <label class="label" for="input-email">Email:</label>
        <input
          nbInput
          [(ngModel)]="dataToEdit.email"
          #email="ngModel"
          id="input-email"
          name="email"
          pattern=".+@.+..+"
          placeholder="Email"
          fullWidth
          [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : ''"
          required=""
          [attr.aria-invalid]="email.invalid && email.touched ? true : null"
        />
        <ng-container *ngIf="email.invalid && email.touched">
          <p class="error-message" *ngIf="email.errors?.required">
            Champ obligatoire
          </p>
          <p class="error-message" *ngIf="email.errors?.pattern">
            Email invalide
          </p>
        </ng-container>
      </div>

      <div class="form-control-group">
        <label class="label" for="input-password">Mot de passe:</label>
        <input
          nbInput
          [(ngModel)]="dataToEdit.password"
          #password="ngModel"
          type="password"
          id="input-password"
          name="password"
          placeholder="Mot de passe"
          fullWidth
          [status]="
            password.dirty ? (password.invalid ? 'danger' : 'success') : ''
          "
          [minlength]="6"
          [maxlength]="50"
          [attr.aria-invalid]="
            password.invalid && password.touched ? true : null
          "
        />
        <ng-container *ngIf="password.invalid && password.touched">
          <p class="error-message" *ngIf="password.errors?.required">
            Champ obligatoire
          </p>
          <p
            class="error-message"
            *ngIf="password.errors?.minlength || password.errors?.maxlength"
          >
            Veuilley saisir au moins caractères
          </p>
        </ng-container>
      </div>

      <div class="form-control-group">
        <label class="label" for="input-re-password"
          >Confirmation de mot de passe:</label
        >
        <input
          nbInput
          [(ngModel)]="dataToEdit.confirmPassword"
          #rePass="ngModel"
          type="password"
          id="input-re-password"
          name="rePass"
          placeholder="Confirmation de mot de passe"
          fullWidth
          [status]="
            email.dirty
              ? email.invalid || password.value !== rePass.value
                ? 'danger'
                : 'success'
              : ''
          "
          [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null"
        />
        <ng-container *ngIf="rePass.invalid && rePass.touched">
          <p class="error-message" *ngIf="rePass.errors?.required">
            Champ obligatoire
          </p>
          <p
            class="error-message"
            *ngIf="password.value !== rePass.value && !rePass.errors?.required"
          >
            Les mots de passes ne se correspondent pas
          </p>
        </ng-container>
      </div>

      <div class="form-group" *ngIf="!isAdmin">
        <label for="adresse">Rôle</label>
        <div class="nb-select-container">
          <nb-select
            placeholder="rôle"
            shape="semi-round"
            [fullWidth]="true"
            [(ngModel)]="roleIdModel"
            name="role"
            #role="ngModel"
            required
          >
            <nb-option [value]="item.id" *ngFor="let item of roleList">{{
              item.label
            }}</nb-option>
          </nb-select>
        </div>
      </div>

      <div class="action-btn">
        <button nbButton type="reset" (click)="back()">Annuler</button>
        <button
          nbButton
          status="success"
          [disabled]="
            isLoading ||
            !form.valid ||
            password.value !== rePass.value ||
            isLoading
          "
          [class.btn-pulse]="isLoading"
        >
          Enregistrer
        </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
