<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="danger">
  <nb-card-header> Liste des historiques de scan</nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"> </ng2-smart-table>

    <ngx-pagination
      #pagination
      [collectionSize]="totalRows"
      [pageSize]="5"
      [firstLastButtons]="true"
      [maxSize]="10"
      (onPageChange)="onPageChange($event)"
    ></ngx-pagination>
  </nb-card-body>
</nb-card>
