#sainam-pirenena {
    text-align: center; /* Centre le texte à l'intérieur du conteneur */
  }
  
  #sainam-pirenena > div {
    display: inline-block; /* Permet aux éléments d'être alignés horizontalement */
    vertical-align: middle; /* Centre verticalement les éléments */
  }
  
  #sainam-pirenena > div:first-child {
    margin-right: 10px; /* Espacement entre les éléments, ajustez selon vos besoins */
  }
  
  .button-space {
    margin-right: 10px; /* Ajoute un espace de 10 pixels entre les éléments */
  }