@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

.pdf-viewer {
  width: 500px;
  height: 600px;
  margin: 1em auto;
  border: 1px solid #dadada;
}

.pdf-viewer-container {
  overflow: auto;
}

.container-btn-action{
  position: absolute;
  right: 4em;
  button{
    margin: 0 1px;
  }
}
img.avatar {
  width: 111px;
  object-fit: cover;
  border: 3px solid #dadada;
  border-radius: 5px;
  margin: 2em;
}
