<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="danger">
  <nb-card-body style="position: relative">
    <nb-badge
      *ngIf="detail.statut"
      [text]="statut[detail.statut].label"
      [status]="
        statut[detail.statut].value === statut.REFUSEE.value
          ? 'danger'
          : statut[detail.statut].value === statut.ACCEPTEE.value
          ? 'success'
          : 'warning'
      "
      position="top right"
    ></nb-badge>

    <div
      class="container-btn-action"
      *ngIf="
        (hasRole(Role.ROLE_ADMIN.value) || hasRole(Role.ROLE_EMPLOYEE.value)) &&
        detail.statut &&
        statut[detail.statut].value === statut.EN_COURS.value
      "
    >
      <button
        nbButton
        status="primary"
        size="small"
        outline
        (click)="changeStatus(statut.ACCEPTEE.value)"
      >
        Accepter
      </button>
      <button
        nbButton
        status="danger"
        size="small"
        outline
        (click)="changeStatus(statut.REFUSEE.value)"
      >
        Refuser
      </button>
    </div>

    <div *ngIf="detail.photoUrl">
      <img class="avatar" [src]="detail.photoUrl" />
    </div>

    <nb-tabset>
      <nb-tab tabTitle="Information principale">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-md-4">
                <label class="label">Nom</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.nom }}</div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Prénom</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.prenom }}</div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Date de naissance</label>
              </div>
              <div class="col-md-8" class="value">
                {{ detail.datenaissance }}
              </div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Lieu de naissance</label>
              </div>
              <div class="col-md-8" class="value">
                {{ detail.lieunaissance }}
              </div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Sexe</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.sexe }}</div>
              <hr />
            </div>
            <div class="row" *ngIf="detail?.numerocin">
              <div class="col-md-4">
                <label class="label">Numéro</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.numerocin }}</div>
            </div>
            <div class="row" *ngIf="detail?.motifDemande">
              <div class="col-md-4">
                <label class="label">Motif de la demande</label>
              </div>
              <div class="col-md-8" class="value">
                {{ detail.motifDemande }}
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="row">
              <div class="col-md-4">
                <label class="label">Adresse</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.adresse }}</div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Nom du père</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.nompere }}</div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Nom de la mère</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.nommere }}</div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Profession</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.profession }}</div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Date de la création</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.createdat }}</div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Statut</label>
              </div>
              <div class="col-md-8" class="value">
                {{
                  statut[detail.statut]
                    ? statut[detail.statut].label
                    : statut["EN_COURS"].label
                }}
              </div>
              <hr />
            </div>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Documents">
        <nb-accordion>
          <nb-accordion-item
            *ngFor="let doc of detail?.typeDocumentDemandeCins"
          >
            <nb-accordion-item-header>{{
              doc.typeDocument.nom
            }}</nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="pdf-viewer-container" *ngIf="doc.pathUrl">
                <pdf-viewer
                  [src]="doc.pathUrl"
                  [original-size]="true"
                  [render-text]="true"
                  [rotation]="0"
                  [show-all]="false"
                  [fit-to-page]="true"
                  [zoom]="1"
                  [zoom-scale]="'page-width'"
                  [external-link-target]="'blank'"
                  [autoresize]="true"
                  [show-borders]="false"
                  class="pdf-viewer"
                ></pdf-viewer>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-tab>
      <nb-tab tabTitle="Motif refus" *ngIf="detail.motifRefus">
        <span class="motif-refus">{{ detail.motifRefus }}</span>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
