<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="danger">
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <nb-stepper #stepper>
      <nb-step [stepControl]="firstForm" label="Information principale">
        <form
          [formGroup]="firstForm"
          (ngSubmit)="onFirstSubmit()"
          class="step-container"
        >
          <div class="form-group">
            <label for="nom">Nom</label>
            <input
              nbInput
              shape="semi-round"
              fieldSize="giant"
              type="text"
              placeholder="Nom"
              class="form-control"
              formControlName="nom"
              required
              [status]="
                firstForm.get('nom').invalid &&
                (firstForm.get('nom').dirty || firstForm.get('nom').touched)
                  ? 'danger'
                  : 'basic'
              "
            />
            <div
              *ngIf="
                firstForm.get('nom').invalid &&
                (firstForm.get('nom').dirty || firstForm.get('nom').touched)
              "
              class="invalid-feedback"
            >
              Le nom est requis.
            </div>
          </div>

          <div class="form-group">
            <label for="prenom">Prénom</label>
            <input
              nbInput
              shape="semi-round"
              fieldSize="giant"
              type="text"
              placeholder="Prénom"
              class="form-control"
              formControlName="prenom"
              required
              [status]="
                firstForm.get('prenom').invalid &&
                (firstForm.get('prenom').dirty ||
                  firstForm.get('prenom').touched)
                  ? 'danger'
                  : 'basic'
              "
            />
            <div
              *ngIf="
                firstForm.get('prenom').invalid && firstForm.get('prenom').dirty
              "
              class="invalid-feedback"
            >
              Le prénom est requis.
            </div>
          </div>

          <div class="form-group">
            <label for="dateNaissance">Date de naissance</label>
            <input
              nbInput
              shape="semi-round"
              fieldSize="giant"
              type="date"
              placeholder="Date de naissance"
              class="form-control"
              formControlName="dateNaissance"
              required
              [status]="
                firstForm.get('dateNaissance').invalid &&
                (firstForm.get('dateNaissance').dirty ||
                  firstForm.get('dateNaissance').touched)
                  ? 'danger'
                  : 'basic'
              "
            />
            <div
              *ngIf="
                firstForm.get('dateNaissance').hasError('required') &&
                firstForm.get('dateNaissance').dirty
              "
              class="invalid-feedback"
            >
              La date de naissance est requise.
            </div>
            <div
              *ngIf="firstForm.get('dateNaissance').hasError('ageInvalid')"
              class="text-danger"
            >
              La date de naissance doit être supérieure à 18 ans.
            </div>
          </div>

          <div class="form-group">
            <label for="lieuNaissance">Lieu de naissance</label>
            <input
              nbInput
              shape="semi-round"
              fieldSize="giant"
              type="text"
              placeholder="Lieu de naissance"
              class="form-control"
              formControlName="lieuNaissance"
              required
              [status]="
                firstForm.get('lieuNaissance').invalid &&
                (firstForm.get('lieuNaissance').dirty ||
                  firstForm.get('lieuNaissance').touched)
                  ? 'danger'
                  : 'basic'
              "
            />
            <div
              *ngIf="
                firstForm.get('lieuNaissance').invalid &&
                firstForm.get('lieuNaissance').dirty
              "
              class="invalid-feedback"
            >
              Le lieu de naissance est requis.
            </div>
          </div>

          <div class="form-group">
            <label for="lieuNaissance">Sexe</label>
            <nb-radio-group formControlName="sexe" name="reactive-forms-group">
              <nb-radio [value]="SEXE.HOMME.value">{{
                SEXE.HOMME.label
              }}</nb-radio>
              <nb-radio [value]="SEXE.FEMME.value">{{
                SEXE.FEMME.label
              }}</nb-radio>
            </nb-radio-group>
            <div
              *ngIf="
                firstForm.get('sexe').invalid && firstForm.get('sexe').dirty
              "
              class="invalid-feedback"
            >
              Le sexe est requis.
            </div>
          </div>
          <div class="form-group" *ngIf="!isEditonMode">
            <label for="lieuNaissance">Photo d'identité</label>
            <input
              nbInput
              shape="semi-round"
              fieldSize="giant"
              type="file"
              placeholder="Photo d'identitré"
              class="form-control"
              formControlName="photo"
              required
              [status]="
                firstForm.get('photo').invalid &&
                (firstForm.get('photo').dirty || firstForm.get('photo').touched)
                  ? 'danger'
                  : 'basic'
              "
              (change)="onPhotoSelected($event)"
              accept="image/*"
            />
            <div
              *ngIf="
                firstForm.get('photo').invalid && firstForm.get('photo').dirty
              "
              class="invalid-feedback"
            >
              La photo d'identité est requise.
            </div>
            <div class="row" *ngIf="picturePreview">
              <div class="col-md-4">
                <img class="avatar" src="{{ picturePreview }}" alt="user" />
              </div>
            </div>
          </div>
          <button
            nbButton
            nbStepperNext
            status="primary"
            [disabled]="isLoading || !firstForm.valid"
          >
            suivant
          </button>
        </form>
      </nb-step>
      <nb-step [stepControl]="secondForm" label="Parental">
        <form
          [formGroup]="secondForm"
          (ngSubmit)="onSecondSubmit()"
          class="step-container"
        >
          <div class="form-group">
            <label for="nomPere">Nom du père</label>
            <input
              nbInput
              shape="semi-round"
              fieldSize="giant"
              type="text"
              placeholder="Nom du père"
              class="form-control"
              formControlName="nomPere"
              required
              [status]="
                secondForm.get('nomPere').invalid &&
                (secondForm.get('nomPere').dirty ||
                  secondForm.get('nomPere').touched)
                  ? 'danger'
                  : 'basic'
              "
            />
            <div
              *ngIf="
                secondForm.get('nomPere').invalid &&
                secondForm.get('nomPere').dirty
              "
              class="invalid-feedback"
            >
              Le nom du père est requis.
            </div>
          </div>
          <div class="form-group">
            <label for="nomMere">Nom de la mère</label>
            <input
              nbInput
              shape="semi-round"
              fieldSize="giant"
              type="text"
              placeholder="Nom de la mère"
              class="form-control"
              formControlName="nomMere"
              required
              [status]="
                secondForm.get('nomMere').invalid &&
                (secondForm.get('nomMere').dirty ||
                  secondForm.get('nomMere').touched)
                  ? 'danger'
                  : 'basic'
              "
            />
            <div
              *ngIf="
                secondForm.get('nomMere').invalid &&
                secondForm.get('nomMere').dirty
              "
              class="invalid-feedback"
            >
              Le nom de la mère est requis.
            </div>
          </div>
          <div class="form-group">
            <label for="profession">Profession</label>
            <input
              nbInput
              shape="semi-round"
              fieldSize="giant"
              type="text"
              placeholder="Profession"
              class="form-control"
              formControlName="profession"
              required
              [status]="
                secondForm.get('profession').invalid &&
                (secondForm.get('profession').dirty ||
                  secondForm.get('profession').touched)
                  ? 'danger'
                  : 'basic'
              "
            />
          </div>
          <div class="form-group">
            <label for="adresse">Adresse</label>
            <input
              nbInput
              shape="semi-round"
              fieldSize="giant"
              type="text"
              placeholder="Adresse"
              class="form-control"
              formControlName="adresse"
              required
              [status]="
                secondForm.get('adresse').invalid &&
                (secondForm.get('adresse').dirty ||
                  secondForm.get('adresse').touched)
                  ? 'danger'
                  : 'basic'
              "
            />
            <div
              *ngIf="
                secondForm.get('adresse').invalid &&
                secondForm.get('adresse').dirty
              "
              class="invalid-feedback"
            >
              L'adresse est requis.
            </div>
          </div>
          <div class="form-group">
            <label for="adresse">Commune</label>
            <div class="nb-select-container">
              <nb-select
                placeholder="Commune"
                formControlName="commune"
                shape="semi-round"
                [fullWidth]="true"
              >
                <nb-option
                  [value]="item.id"
                  *ngFor="let item of communeOptions"
                  >{{ item.nom }}</nb-option
                >
              </nb-select>
            </div>
            <div
              *ngIf="
                secondForm.get('commune').invalid &&
                secondForm.get('commune').dirty
              "
              class="invalid-feedback"
            >
              La commune est requise.
            </div>
          </div>

          <button nbButton nbStepperPrevious>précédent</button>
          <button
            nbButton
            nbStepperNext
            status="primary"
            [disabled]="isLoading || !secondForm.valid"
          >
            suivant
          </button>
        </form>
      </nb-step>
      <nb-step
        [stepControl]="uploadForm"
        label="Documents nécessaire"
        *ngIf="isInitialized"
      >
        <form
          [formGroup]="uploadForm"
          (ngSubmit)="onThirdSubmit()"
          class="step-container"
        >
          <div class="form-group">
            <label for="adresse">Motif de la demande</label>
            <div class="nb-select-container">
              <nb-select
                placeholder="Motif"
                formControlName="motif"
                shape="semi-round"
                [fullWidth]="true"
              >
                <nb-option
                  [value]="item.value"
                  *ngFor="let item of motifOptions"
                  >{{ item.label }}</nb-option
                >
              </nb-select>
            </div>
            <div
              *ngIf="
                uploadForm.get('motif').invalid && uploadForm.get('motif').dirty
              "
              class="invalid-feedback"
            >
              Le motif est requis.
            </div>
          </div>
          <div
            class="form-group"
            *ngIf="uploadForm.get('motif')?.value !== Motif.CREATION.value"
          >
            <label for="adresse">Numéro cin</label>
            <input
              nbInput
              shape="semi-round"
              fieldSize="giant"
              type="text"
              placeholder="Numéro cin"
              class="form-control"
              formControlName="numerocin"
              required
              [status]="
                uploadForm.get('numerocin').invalid &&
                (uploadForm.get('numerocin').dirty ||
                  uploadForm.get('numerocin').touched)
                  ? 'danger'
                  : 'basic'
              "
            />
            <div
              *ngIf="
                uploadForm.get('numerocin').invalid &&
                uploadForm.get('numerocin').dirty
              "
              class="invalid-feedback"
            >
              Le numéro cin est requis.
            </div>
          </div>
          <div *ngIf="!isEditonMode">
            <div *ngFor="let doc of typeDocsList" class="form-group">
              <label [for]="doc.fieldName">{{ doc.nom }}</label>
              <input
                nbInput
                shape="semi-round"
                fieldSize="giant"
                type="file"
                [placeholder]="doc.nom"
                class="form-control"
                [formControlName]="doc.nom"
                required
                [status]="
                  uploadForm.get(doc.nom).invalid &&
                  (uploadForm.get(doc.nom).dirty ||
                    uploadForm.get(doc.nom).touched)
                    ? 'danger'
                    : 'basic'
                "
                (change)="onFileSelected($event, doc.nom)"
              />
              <div
                *ngIf="
                  uploadForm.get('numerocin').invalid &&
                  uploadForm.get('numerocin').dirty
                "
                class="invalid-feedback"
              >
                {{ doc.nom }} est obligatoire.
              </div>
            </div>
          </div>
          <button nbButton nbStepperPrevious>précédent</button>
          <button
            nbButton
            status="primary"
            [disabled]="isLoading || !uploadForm.valid"
          >
            Enregistrer
          </button>
        </form>
      </nb-step>
      <nb-step [stepControl]="uploadForm" [hidden]="true" label="Third step">
        <div class="step-container">
          <h3>CIN créée!</h3>
          <button nbButton (click)="stepper.reset()">Fermer</button>
        </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
