<nb-card>
  <nb-card-header> Confirmation </nb-card-header>
  <nb-card-body> Voulez-vous vraiment accepter cette demande ? </nb-card-body>
  <nb-card-footer>
    <button nbButton status="basic" (click)="dismissDialog()">Annuler</button>
    <button nbButton status="primary" (click)="confirm()">Confirmer</button>
  </nb-card-footer>
</nb-card>
