<div
  *ngIf="hasRole(Role.ROLE_EMPLOYEE.value) || hasRole(Role.ROLE_ADMIN.value)"
>
  <nb-card [nbSpinner]="isLoading" nbSpinnerStatus="danger">
    <nb-card-header> Liste des demandes de cin à valider</nb-card-header>

    <nb-card-body>
      <div class="form-group">
        <div><label>Recherche</label></div>
        <nb-form-field>
          <input
            type="text"
            [(ngModel)]="keywordSearch"
            nbInput
            [disabled]="isLoading"
          />
          <button
            nbSuffix
            nbButton
            ghost
            (click)="search()"
            [disabled]="isLoading"
          >
            <nb-icon
              icon="search-outline"
              pack="eva"
              [attr.aria-label]="'Recherche'"
            >
            </nb-icon>
          </button>
          <button
            nbSuffix
            nbButton
            ghost
            (click)="resetSearch()"
            *ngIf="keywordSearch.length"
            [disabled]="isLoading"
          >
            <nb-icon
              icon="trash-outline"
              pack="eva"
              [attr.aria-label]="'réinitialiser'"
            >
            </nb-icon>
          </button>
        </nb-form-field>
      </div>
      <ng2-smart-table
        [settings]="settings"
        [source]="source"
        (delete)="onDeleteConfirm($event)"
        (edit)="edit($event)"
        (create)="create($event)"
        (userRowSelect)="onRowSelect($event)"
      >
      </ng2-smart-table>

      <ngx-pagination
        #pagination
        [collectionSize]="totalRows"
        [pageSize]="perPage"
        [firstLastButtons]="true"
        [maxSize]="2"
        (onPageChange)="onPageChange($event)"
      >
      </ngx-pagination>
    </nb-card-body>
  </nb-card>

  <nb-card [nbSpinner]="isLoadingCancelled" nbSpinnerStatus="danger">
    <nb-card-header> Liste des demandes de cin annulées</nb-card-header>

    <nb-card-body>
      <div class="form-group">
        <div><label>Recherche</label></div>
        <nb-form-field>
          <input
            type="text"
            [(ngModel)]="keywordSearchCancelled"
            nbInput
            [disabled]="isLoadingCancelled"
          />
          <button nbSuffix nbButton ghost (click)="search(true)">
            <nb-icon
              icon="search-outline"
              pack="eva"
              [attr.aria-label]="'Recherche'"
              [disabled]="isLoadingCancelled"
            >
            </nb-icon>
          </button>
          <button
            nbSuffix
            nbButton
            ghost
            (click)="resetSearch(true)"
            *ngIf="keywordSearchCancelled.length"
            [disabled]="isLoadingCancelled"
          >
            <nb-icon
              icon="trash-outline"
              pack="eva"
              [attr.aria-label]="'réinitialiser'"
            >
            </nb-icon>
          </button>
        </nb-form-field>
      </div>

      <ng2-smart-table
        [settings]="settingsCancelled"
        [source]="sourceCancelled"
        (userRowSelect)="onRowSelect($event)"
      >
      </ng2-smart-table>

      <ngx-pagination
        #pagination
        [collectionSize]="totalRows"
        [pageSize]="perPage"
        [firstLastButtons]="true"
        [maxSize]="2"
        (onPageChange)="onPageChange($event)"
      >
      </ngx-pagination>
    </nb-card-body>
  </nb-card>
</div>

<div *ngIf="hasRole(Role.ROLE_USER.value)">
  <nb-card [nbSpinner]="isLoadingUser" nbSpinnerStatus="danger">
    <nb-card-header> Liste de mes demandes</nb-card-header>

    <nb-card-body>
      <div class="form-group">
        <div><label>Recherche</label></div>
        <nb-form-field>
          <input
            type="text"
            [(ngModel)]="keywordSearch"
            nbInput
            [disabled]="isLoading"
          />
          <button
            nbSuffix
            nbButton
            ghost
            (click)="search()"
            [disabled]="isLoading"
          >
            <nb-icon
              icon="search-outline"
              pack="eva"
              [attr.aria-label]="'Recherche'"
            >
            </nb-icon>
          </button>
          <button
            nbSuffix
            nbButton
            ghost
            (click)="resetSearch()"
            *ngIf="keywordSearch.length"
            [disabled]="isLoading"
          >
            <nb-icon
              icon="trash-outline"
              pack="eva"
              [attr.aria-label]="'réinitialiser'"
            >
            </nb-icon>
          </button>
        </nb-form-field>
      </div>

      <ng2-smart-table
        [settings]="settingsUser"
        [source]="source"
        (delete)="onDeleteConfirm($event)"
        (edit)="edit($event)"
        (create)="create($event)"
        (userRowSelect)="onRowSelect($event)"
      >
      </ng2-smart-table>

      <ngx-pagination
        #pagination
        [collectionSize]="totalRowsUser"
        [pageSize]="perPage"
        [firstLastButtons]="true"
        [maxSize]="2"
        (onPageChange)="onPageChangeUser($event)"
      >
      </ngx-pagination>
    </nb-card-body>
  </nb-card>
</div>
