<nb-card>
  <nb-card-header> Motif du refus </nb-card-header>
  <nb-card-body>
    <div [formGroup]="formGroup">
      <div class="form-group">
        <textarea
          nbInput
          fullWidth
          formControlName="motif"
          placeholder="Saisissez le motif du refus"
          [status]="
            formGroup.get('motif').invalid &&
            (formGroup.get('motif').dirty || formGroup.get('motif').touched)
              ? 'danger'
              : 'basic'
          "
        ></textarea>
        <div
          *ngIf="formGroup.get('motif').invalid && formGroup.get('motif').dirty"
          class="invalid-feedback"
        >
          Le motif est requis.
        </div>
      </div>
      <button nbButton status="basic" (click)="dismissDialog()">Annuler</button>
      <button
        nbButton
        status="primary"
        (click)="closeDialog()"
        [disabled]="formGroup.invalid"
      >
        Enregistrer
      </button>
    </div>
  </nb-card-body>
</nb-card>
