<h1 id="title" class="title">Inscription</h1>

<form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-name">Nom:</label>
    <input
      nbInput
      [(ngModel)]="user.nom"
      #fullName="ngModel"
      id="input-name"
      name="fullName"
      placeholder="Nom"
      autofocus
      fullWidth
      [status]="fullName.dirty ? (fullName.invalid ? 'danger' : 'success') : ''"
      [required]="getConfigValue('forms.validation.fullName.required')"
      [minlength]="getConfigValue('forms.validation.fullName.minLength')"
      [maxlength]="getConfigValue('forms.validation.fullName.maxLength')"
      [attr.aria-invalid]="fullName.invalid && fullName.touched ? true : null"
    />
    <ng-container *ngIf="fullName.invalid && fullName.touched">
      <p class="error-message" *ngIf="fullName.errors?.required">
        Champ obligatoire
      </p>
      <p
        class="error-message"
        *ngIf="fullName.errors?.minlength || fullName.errors?.maxlength"
      >
        Veuillez saisir au moins 2 caractères
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-name">Prénom:</label>
    <input
      nbInput
      [(ngModel)]="user.prenom"
      #prenom="ngModel"
      id="input-name"
      name="prenom"
      placeholder="Prénom"
      autofocus
      fullWidth
      [status]="fullName.dirty ? (prenom.invalid ? 'danger' : 'success') : ''"
      [required]="getConfigValue('forms.validation.prenom.required')"
      [minlength]="getConfigValue('forms.validation.prenom.minLength')"
      [maxlength]="getConfigValue('forms.validation.prenom.maxLength')"
      [attr.aria-invalid]="prenom.invalid && prenom.touched ? true : null"
    />
    <ng-container *ngIf="prenom.invalid && prenom.touched">
      <p class="error-message" *ngIf="prenom.errors?.required">
        Champ obligatoire
      </p>
      <p
        class="error-message"
        *ngIf="prenom.errors?.minlength || prenom.errors?.maxlength"
      >
        Veuillez saisir au moins 2 caractères
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-email">Téléphone:</label>
    <input
      nbInput
      [(ngModel)]="user.telephone"
      #telephone="ngModel"
      id="input-telephone"
      name="telephone"
      pattern="^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$"
      placeholder="Téléphone"
      fullWidth
      [status]="
        telephone.dirty ? (telephone.invalid ? 'danger' : 'success') : ''
      "
      [required]="getConfigValue('forms.validation.telephone.required')"
      [attr.aria-invalid]="telephone.invalid && telephone.touched ? true : null"
    />
    <ng-container *ngIf="telephone.invalid && telephone.touched">
      <p class="error-message" *ngIf="telephone.errors?.required">
        Champ obligatoire
      </p>
      <p class="error-message" *ngIf="telephone.errors?.pattern">
        Numéro invalide
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-email">Email:</label>
    <input
      nbInput
      [(ngModel)]="user.email"
      #email="ngModel"
      id="input-email"
      name="email"
      pattern=".+@.+..+"
      placeholder="Email"
      fullWidth
      [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : ''"
      [required]="getConfigValue('forms.validation.email.required')"
      [attr.aria-invalid]="email.invalid && email.touched ? true : null"
    />
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        Champ obligatoire
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">Email invalide</p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Mot de passe:</label>
    <input
      nbInput
      [(ngModel)]="user.password"
      #password="ngModel"
      type="password"
      id="input-password"
      name="password"
      placeholder="Mot de passe"
      fullWidth
      [status]="password.dirty ? (password.invalid ? 'danger' : 'success') : ''"
      [required]="getConfigValue('forms.validation.password.required')"
      [minlength]="6"
      [maxlength]="getConfigValue('forms.validation.password.maxLength')"
      [attr.aria-invalid]="password.invalid && password.touched ? true : null"
    />
    <ng-container *ngIf="password.invalid && password.touched">
      <p class="error-message" *ngIf="password.errors?.required">
        Champ obligatoire
      </p>
      <p
        class="error-message"
        *ngIf="password.errors?.minlength || password.errors?.maxlength"
      >
        Veuilley saisir au moins caractères
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-re-password"
      >Confirmation de mot de passe:</label
    >
    <input
      nbInput
      [(ngModel)]="user.confirmPassword"
      #rePass="ngModel"
      type="password"
      id="input-re-password"
      name="rePass"
      placeholder="Confirmation de mot de passe"
      fullWidth
      [status]="
        email.dirty
          ? email.invalid || password.value !== rePass.value
            ? 'danger'
            : 'success'
          : ''
      "
      [required]="getConfigValue('forms.validation.password.required')"
      [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null"
    />
    <ng-container *ngIf="rePass.invalid && rePass.touched">
      <p class="error-message" *ngIf="rePass.errors?.required">
        Champ obligatoire
      </p>
      <p
        class="error-message"
        *ngIf="password.value !== rePass.value && !rePass.errors?.required"
      >
        Les mots de passes ne se correspondent pas
      </p>
    </ng-container>
  </div>

  <div
    class="form-control-group accept-group"
    *ngIf="getConfigValue('forms.register.terms')"
  >
    <nb-checkbox
      name="terms"
      [(ngModel)]="user.terms"
      [required]="getConfigValue('forms.register.terms')"
    >
      <a href="#" target="_blank"
        ><strong>Accepter les conditions générales d'utilisation</strong></a
      >
    </nb-checkbox>
  </div>

  <button
    nbButton
    fullWidth
    status="success"
    [disabled]="
      submitted ||
      !form.valid ||
      password.value !== rePass.value ||
      loading ||
      !user.terms
    "
    [class.btn-pulse]="submitted"
  >
    S'inscrire
  </button>
</form>

<section class="another-action" aria-label="Sign in">
  <a class="text-link" routerLink="../login">Se connecter?</a>
</section>
