<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="danger">
  <nb-card-body>
    <div *ngIf="detail.photoUrl">
      <img class="avatar" [src]="detail.photoUrl" />
    </div>
    <nb-tabset>
      <nb-tab tabTitle="Information principale">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-md-4">
                <label class="label">Nom</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.nom }}</div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Prénom</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.prenom }}</div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">N° cin</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.numero }}</div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Date de naissance</label>
              </div>
              <div class="col-md-8" class="value">
                {{ detail.datenaissance }}
              </div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Lieu de naissance</label>
              </div>
              <div class="col-md-8" class="value">
                {{ detail.lieunaissance }}
              </div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">QR Code</label>
              </div>
              <div class="col-md-8" class="value">
                <img src="{{ detail.pathqrcode }}" />
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="row">
              <div class="col-md-4">
                <label class="label">Adresse</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.adresse }}</div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Nom du père</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.nompere }}</div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Nom de la mère</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.nommere }}</div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Profession</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.profession }}</div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Duplicata</label>
              </div>
              <div class="col-md-8" class="value">
                {{ detail.duplicata ? "oui" : "non" }}
              </div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Validité</label>
              </div>
              <div class="col-md-8" class="value">
                {{ detail.expired ? "Expiré" : "Valide" }}
              </div>
              <hr />
            </div>
            <div class="row">
              <div class="col-md-4">
                <label class="label">Date de la création</label>
              </div>
              <div class="col-md-8" class="value">{{ detail.createdat }}</div>
              <hr />
            </div>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Documents">
        <nb-accordion>
          <nb-accordion-item
            *ngFor="let link of detail?.typeDocumentDemandeCins"
          >
            <nb-accordion-item-header>{{
              link.typeDocument.nom
            }}</nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="pdf-viewer-container" *ngIf="link.pathUrl">
                <pdf-viewer
                  [src]="link.pathUrl"
                  [original-size]="true"
                  [render-text]="true"
                  [rotation]="0"
                  [show-all]="false"
                  [fit-to-page]="true"
                  [zoom]="1"
                  [zoom-scale]="'page-width'"
                  [external-link-target]="'blank'"
                  [autoresize]="true"
                  [show-borders]="false"
                  class="pdf-viewer"
                ></pdf-viewer>
              </div>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
