.pdf-viewer {
  width: 500px;
  height: 600px;
  margin: 1em auto;
  border: 1px solid #dadada;
}

.pdf-viewer-container {
  overflow: auto;
}
img.avatar {
  width: 111px;
  object-fit: cover;
  border: 3px solid #dadada;
  border-radius: 5px;
  margin: 2em;
}
