<h1 id="title" class="title">Mot de passe oublié</h1>
<p class="sub-title">Récupération de mot de passe</p>

<nb-alert
  *ngIf="showMessages.error && errors?.length && !submitted"
  outline="danger"
  role="alert"
>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert
  *ngIf="showMessages.success && messages?.length && !submitted"
  outline="success"
  role="alert"
>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">
      {{ message }}
    </li>
  </ul>
</nb-alert>

<form
  (ngSubmit)="requestPass()"
  #requestPassForm="ngForm"
  aria-labelledby="title"
>
  <div class="form-control-group">
    <label class="label" for="input-email">Email</label>
    <input
      nbInput
      [(ngModel)]="user.email"
      #email="ngModel"
      id="input-email"
      name="email"
      pattern=".+@.+\..+"
      placeholder="Email"
      autofocus
      fullWidth
      [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : ''"
      [required]="getConfigValue('forms.validation.email.required')"
      [attr.aria-invalid]="email.invalid && email.touched ? true : null"
    />
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        Champ obligatoire
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">Email invalide</p>
    </ng-container>
  </div>

  <button
    nbButton
    fullWidth
    status="success"
    [disabled]="submitted || !requestPassForm.valid"
    [class.btn-pulse]="submitted"
  >
    Envoyer demande
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Se connecter</a></p>
  <p><a routerLink="../register" class="text-link">S'inscrire</a></p>
</section>
