<h1 id="title" class="title">Se connecter</h1>
<p class="sub-title">Erreur d'authentification</p>

<form
  (ngSubmit)="login()"
  #form="ngForm"
  aria-labelledby="title"
  id="form-login"
>
  <div class="form-control-group">
    <label class="label" for="input-email">Email</label>
    <input
      nbInput
      fullWidth
      [(ngModel)]="user.email"
      #email="ngModel"
      name="email"
      id="input-email"
      pattern=".+@.+\..+"
      placeholder="Email"
      autofocus
      [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : ''"
      [required]="getConfigValue('forms.validation.email.required')"
      [attr.aria-invalid]="email.invalid && email.touched ? true : null"
    />
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        Champ obligatoire
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">Email invalide</p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Mot de passe</label>
    <input
      nbInput
      fullWidth
      [(ngModel)]="user.password"
      #password="ngModel"
      name="password"
      type="password"
      id="input-password"
      placeholder="Mot de passe"
      [status]="password.dirty ? (password.invalid ? 'danger' : 'success') : ''"
      [required]="getConfigValue('forms.validation.password.required')"
      [minlength]="getConfigValue('forms.validation.password.minLength')"
      [maxlength]="getConfigValue('forms.validation.password.maxLength')"
      [attr.aria-invalid]="password.invalid && password.touched ? true : null"
    />
    <ng-container *ngIf="password.invalid && password.touched">
      <p class="error-message" *ngIf="password.errors?.required">
        Champ obligatoire
      </p>
      <p
        class="error-message"
        *ngIf="password.errors?.minlength || password.errors?.maxlength"
      >
        Veuillez saisir au moins 6 caractères
      </p>
    </ng-container>
  </div>

  <!-- <div class="form-control-group accept-group">
    <a class="forgot-password" routerLink="../request-password"
      >Mot de passe oublié ?</a
    >
  </div> -->

  <button
    nbButton
    fullWidth
    status="success"
    [disabled]="submitted || !form.valid"
    [class.btn-pulse]="submitted"
    id="submit-login"
  >
    Se connecter
  </button>
</form>

<section class="another-action" aria-label="Register">
  <a class="text-link" routerLink="../register">S'inscrire</a>
</section>
