<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="danger">
  <nb-card-header> Liste des documents pour une demande de cin </nb-card-header>

  <nb-card-body>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (delete)="onDeleteConfirm($event)"
      (edit)="edit($event)"
      (create)="create($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
