<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
          <h2 class="title">Accès non autorisé</h2>
          <small class="sub-title">Vous n'avez pas le droit d'accèder à la page demander</small>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
