<h1 id="title" class="title">Modification du mot de passe</h1>

<nb-alert
  *ngIf="showMessages.error && errors?.length && !submitted"
  outline="danger"
  role="alert"
>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert
  *ngIf="showMessages.success && messages?.length && !submitted"
  outline="success"
  role="alert"
>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">
      {{ message }}
    </li>
  </ul>
</nb-alert>

<form (ngSubmit)="resetPass()" #resetPassForm="ngForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-password">Nouveau mot de passe</label>
    <input
      nbInput
      [(ngModel)]="user.password"
      #password="ngModel"
      type="password"
      id="input-password"
      name="password"
      class="first"
      placeholder="Nouveau mot de passe"
      autofocus
      fullWidth
      [status]="password.dirty ? (password.invalid ? 'danger' : 'success') : ''"
      [required]="getConfigValue('forms.validation.password.required')"
      [minlength]="getConfigValue('forms.validation.password.minLength')"
      [maxlength]="getConfigValue('forms.validation.password.maxLength')"
      [attr.aria-invalid]="password.invalid && password.touched ? true : null"
    />
    <ng-container *ngIf="password.invalid && password.touched">
      <p class="error-message" *ngIf="password.errors?.required">
        Champs obligatoire
      </p>
      <p
        class="error-message"
        *ngIf="password.errors?.minlength || password.errors?.maxlength"
      >
        Veuillez saisir au moins 6 caractères
      </p>
    </ng-container>
  </div>

  <div class="form-group">
    <label class="label" for="input-re-password"
      >Confirmation de mot de passe</label
    >
    <input
      nbInput
      [(ngModel)]="user.confirmPassword"
      #rePass="ngModel"
      id="input-re-password"
      name="rePass"
      type="password"
      class="last"
      placeholder="Confirmation de mot de passe"
      fullWidth
      [status]="
        rePass.touched
          ? rePass.invalid || password.value !== rePass.value
            ? 'danger'
            : 'success'
          : ''
      "
      [required]="getConfigValue('forms.validation.password.required')"
      [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null"
    />
    <ng-container *ngIf="rePass.touched">
      <p
        class="error-message"
        *ngIf="rePass.invalid && rePass.errors?.required"
      >
        Champ obligatoire
      </p>
      <p
        class="error-message"
        *ngIf="password.value !== rePass.value && !rePass.errors?.required"
      >
        Les mots de passe ne se correspondent
      </p>
    </ng-container>
  </div>

  <button
    nbButton
    status="success"
    fullWidth
    [disabled]="submitted || !resetPassForm.valid"
    [class.btn-pulse]="submitted"
  >
    Enregistrer
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Se connecter</a></p>
  <p><a class="text-link" routerLink="../register">S'inscrire</a></p>
</section>
