<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="danger">
  <nb-card-header>{{ title }}</nb-card-header>

  <nb-card-body>
    <form [formGroup]="formGroup" (ngSubmit)="submit()" class="">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input
          nbInput
          shape="semi-round"
          fieldSize="giant"
          type="text"
          placeholder="Nom"
          class="form-control"
          formControlName="nom"
          required
          [status]="
            formGroup.get('nom').invalid &&
            (formGroup.get('nom').dirty || formGroup.get('nom').touched)
              ? 'danger'
              : 'basic'
          "
        />
        <div
          *ngIf="formGroup.get('nom').invalid && formGroup.get('nom').dirty"
          class="invalid-feedback"
        >
          Le nom est requis.
        </div>
      </div>

      <div class="form-group">
        <label for="code">Code</label>
        <input
          nbInput
          shape="semi-round"
          fieldSize="giant"
          type="text"
          placeholder="Code"
          class="form-control"
          formControlName="code"
          required
          [status]="
            formGroup.get('code').invalid &&
            (formGroup.get('code').dirty || formGroup.get('code').touched)
              ? 'danger'
              : 'basic'
          "
        />
        <div
          *ngIf="formGroup.get('code').invalid && formGroup.get('code').dirty"
          class="invalid-feedback"
        >
          Le code est invalid. Veuillez saisir uniquement des chiffres.
        </div>
      </div>

      <button nbButton type="reset" (click)="back()">Annuler</button>
      <button
        nbButton
        type="submit"
        [disabled]="isLoading || formGroup.invalid"
      >
        Enregister
      </button>
    </form>
  </nb-card-body>
</nb-card>
